@import './../variables.scss';
.hexagonal-icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  aspect-ratio: cos(30deg);

  @include rwd(1100px) {
    width: 55px;
    height: 55px;
  }
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  img {
    width: 55%;
    height: 55%;
    object-fit: cover;
    z-index: 1;
  }
  .r-hex {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin: 4em 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate(-30deg) skewX(30deg);
    border-radius: 15px;
    transition: opacity 0.5s ease;
  }
  .r-hex {
    .r-hex-inner {
      transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      transition: opacity 0.75s;
      cursor: default;
      &,
      &:before {
        display: block;
        overflow: hidden;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        cursor: default;
      }
    }
    &:first-child .r-hex-inner:before {
      transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      background: var(--backgroundColor);
      content: '';
    }
  }
  &:hover .r-hex {
    opacity: 0.2;
  }
}
